# gradle

.gradle/
build/
out/
classes/
settings.gradle
gradlew
gradlew.bat
build.gradle
gradle.properties

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
