# Controller Setup:
# Unless you have more than one controller plugged in, the ID is probably 0.
# The default values provided for throttle, pitch, yaw, and roll are for a Taranis radio.
# throttleCenterPosition sets where the neutral point is for throttle
# 0 is for bottom centering, 1 is for middle centering
# An alternative set of values for a PS4 controller would be:
# throttle=1
# pitch=5
# yaw=0
# roll=2
# deadzone=0.15
controllerID=0
throttle=0
pitch=2
yaw=3
roll=1
deadzone=0.0
throttleCenterPosition=0

# Rate Setup:
# These rates are controlled exactly the same way as in Betaflight.
# The default settings are the rates I use irl but you can change them to whatever
# you're most comfortable with.
rate=0.8
superRate=0.7
expo=0.0

# Invert Controls:
# Some controllers may have one or more inverted axes
# Notably, the PS4 has its throttle, pitch, and yaw inverted
# To invert an axis, use a "1"
invertThrottle=0
invertPitch=0
invertYaw=0
invertRoll=0

# Camera Settings:
# cameraAngle is the angle the drone camera angles away from the ground
# fieldOfView is the fieldOfView that is set when in the drone (0 uses in-game fieldOfView)
cameraAngle=20
fieldOfView=0.0

# Video Band & Channel:
# Used to set a frequency that your drone's video is sent one
# and your goggles receive
band=0
channel=0

# Physics Settings:
# These are physics settings for the drone
# mass is measured in kilograms
# thrust is measured in Newtons
mass=0.75
linearDamping=0.3
thrust=45.0
